#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;

}

#login-form input {
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    
    margin-bottom: 20px;
   
}
/* css not 활용법   type이 submit이 아닌 애들을 적용하는 방법 */
#login-form input:not([type="submit"]){
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 1s ease-in-out;  
}

#login-form input::placeholder{
    color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus{
    outline: none;
    border-color: var(--yellow);
    
}

#login-form input[type="submit"]{
    padding: 20px;
    background-color: var(--yellow);
    cursor: pointer;
    border-radius: 7px;
}

#login-form input[value="Log In"]{
    margin-bottom: 4px;
}

#login-form a{
    text-align: center;
    color: inherit;
    text-decoration: none;
    font-size: 14px;
    
}